.woocommerce .page-content{max-width:740px;}
.woocommerce .page-sidebar{padding-left:112px;padding-top:40px;}
.compare-price-search-widget.widget,.compare-price-filter-widget.widget{background-color:rgba(247,245,231,0);padding:0;}